/* style.css */

.home-container {
    display: flex;
    justify-content: center;
    margin-top: 6rem;
  
    
  }
  
  .flex-column {
    height: 254px;
    width: 799px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px; 
  }
  
  .logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }
  
  .home-logo {
    width: 180px; 
    height: 120px; 
  }
  
  .home-logo-name {
    width: 552px; 
    height: 120px; 
  }
  
 